<%-include("./partials/head")%>
<!-- cargas de css -->
<%-include("./partials/closeHead")%>

<!-- HTML -->
<div class="w-75">
    <h1 class="text-danger">ACCESO DENEGADO</h1>
</div>

<%-include("./partials/botonLogout")  %> 
<!-- cargas de js -->
<%-include("./partials/foot")%>